# top-most EditorConfig file
root = true

[*.{groovy,java,kt,kts,xml,xsd,yml,yaml,properties,md}]
charset = utf-8
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
