### Maven ###
target/
dependency-reduced-pom.xml
.flattened-pom.xml

### IDE ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.metadata/
.springBeans/
.sts4-cache/
.idea/
*.iws
*.iml
*.ipr
.vscode/
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

### Build ###
build/
out/
dist/

### OS ###
.DS_Store
Thumbs.db

### Logs / Temp ###
logs/
*.log
tmp/
temp/

### Local playground ###
/springfield-playground/**
!/springfield-playground/pom.xml

### Coverage / Reports ###
**/coverage/
**/site/
**/jacoco*.xml
**/surefire-reports/
